# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.4
    hooks:
      - id: clang-format
        args: [--style=file]

  - repo: local
    hooks:
      - id: no-debug-flag
        name: Check for debug mode enabled
        entry: MSF_TIME_LIB_DEBUG 1
        language: pygrep
        types: [c++]
        # Fails if you accidentally leave debug mode ON in the header
        exclude: ^examples/
